################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Billar306-master/billar306.db
/Billar306-master/billar306.db-shm
/Billar306-master/billar306.db-wal
/Billar306.Aplication/obj/Debug/net8.0
/Billar306.Dominio/bin/Debug/net8.0
/Billar306.Dominio/obj
